body {
    background-color: #1e1e2f;
    font-family: 'Roboto', sans-serif;
    color: #f0f0f0;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #00bcd4;
    font-size: 36pt;
    margin-bottom: 20px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

h2 {
    color: #00bcd4;
    font-size: 28pt;
    margin-top: 20px;
}

h3 {
    color: #ffeb3b;
    font-size: 24pt;
    margin-top: 15px;
}

h4 {
    font-size: 20pt;
    text-align: center;
    color: #ffeb3b;
    margin-top: 20px;
}

a {
    font-size: 16pt;
    color: #00bcd4;
    text-decoration: none;
    display: block;
    margin-top: 10px;
}

a:hover {
    text-decoration: underline;
    color: #ffeb3b;
}

h5 {
    font-size: 18pt;
    margin-top: 15px;
}

.uc-list {
    list-style-type: none;
    padding: 0;
}

.uc-list li {
    background: rgba(255, 255, 255, 0.1);
    margin: 5px 0;
    padding: 10px;
    border-radius: 4px;
    cursor: move;
    transition: background 0.3s;
}

.uc-list li:hover {
    background: rgba(255, 255, 255, 0.2);
}

.container {
    max-width: 800px;
    margin: auto;
    background: rgba(30, 30, 47, 0.9);
    padding: 20px 20px 20px 150px; 
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

input, button {
    padding: 10px;
    margin-top: 10px;
    border-radius: 4px;
    border: 1px solid #00bcd4;
    background: rgba(255, 255, 255, 0.1);
    color: #f0f0f0;
    width: calc(100% - 22px);
}

button {
    background: #00bcd4;
    cursor: pointer;
}

button:hover {
    background: #ffeb3b;
    color: #1e1e2f;
    transition: background 0.3s, color 0.3s;
}

.fotos-perfil {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.foto-perfil {
    width: 200px; 
    height: 200px; 
    border-radius: 50%; 
    object-fit: cover; 
    margin: 0 65px; 
}
